.login-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.icon-style,
.input-container label {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.input-Style {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.submit-btn-style {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.label {
    margin-left: 10px;
}

.btn-style:hover {
    background-color: #45a049;
}
