
  .custom-card {
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  